D:/94. Python/Python3OOP_Second_Edition/Ch05 物件導向程式設計使用時機/.ipynb_checkpoints/
D:/94. Python/Python3OOP_Second_Edition/Ch05 物件導向程式設計使用時機/__pycache__/
D:/94. Python/Python3OOP_Second_Edition/Ch05 物件導向程式設計使用時機/unzipped-aloha/
D:/94. Python/Python3OOP_Second_Edition/Ch05 物件導向程式設計使用時機/123.txt
D:/94. Python/Python3OOP_Second_Edition/Ch05 物件導向程式設計使用時機/456.txt
D:/94. Python/Python3OOP_Second_Edition/Ch05 物件導向程式設計使用時機/aloha.zip
D:/94. Python/Python3OOP_Second_Edition/Ch05 物件導向程式設計使用時機/hello.zip
D:/94. Python/Python3OOP_Second_Edition/Ch05 物件導向程式設計使用時機/WIN_20210611_15_28_49_Pro.jpg